namespace: mongodb-atlas-system

namePrefix: mongodb-atlas-

resources:
- ../../../managerwithproxy
- ../../../rbac/namespaced

patches:
  - path: manager_watched_namespace_patch.json
    target:
      group: apps
      version: v1
      kind: Deployment
      name: operator
