
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: atlasclusters.atlas.mongodb.com
spec:
  group: atlas.mongodb.com
  names:
    kind: AtlasCluster
    listKind: AtlasClusterList
    plural: atlasclusters
    singular: atlascluster
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: AtlasCluster is the Schema for the atlasclusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AtlasClusterSpec defines the desired state of AtlasCluster
            properties:
              foo:
                description: Foo is an example field of AtlasCluster. Edit AtlasCluster_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: AtlasClusterStatus defines the observed state of AtlasCluster
            properties:
              phase:
                description: 'The phase the current Custom Resource is in. Possible
                  values: ''Reconciling'', ''Pending'', ''Running'', ''Failed'''
                type: string
            required:
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
