name: Autogenerate AKO
on:
  workflow_dispatch:
jobs:
  autogen:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.build-version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"
          cache: true
      - name: Install controller-gen and kustomize
        run: |
          go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.17.2
          go install sigs.k8s.io/kustomize/kustomize/v5@v5.7.1
          go get go.mongodb.org/atlas-sdk/v20250312008@v20250312008.0.0
          go get github.com/mongodb/mongodb-atlas-kubernetes/tools/crd2go

          controller-gen --version
          kustomize version
      - name: Generate CRDs
        run: |
          make gen-crds
      - name: Generate Go types
        run: |
          make gen-go-types
      - name: Run Operator Scaffolder
        run: |
          make run-scaffolder
      - name: Build Version
        id: build-version
        run: |
          GITCOMMIT=$(git rev-parse --short HEAD)
          VERSION=$(jq -r .next version.json)-EXPERIMENTAL-${GITCOMMIT}
          echo "version=${VERSION}" >> "${GITHUB_OUTPUT}"
      - name: Log in to the Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Operator
        env:
          EXPERIMENTAL: true
          OPERATOR_IMAGE: "ghcr.io/${{ github.repository_owner }}/mongodb-atlas-kubernetes-operator-prerelease:${{ steps.build-version.outputs.version }}"
        run: |
          make image
      - name: (Auto)Generated manifests
        env:
          OPERATOR_IMAGE: "ghcr.io/${{ github.repository_owner }}/mongodb-atlas-kubernetes-operator-prerelease:${{ steps.build-version.outputs.version }}"
        run: |
          make deploy/generated/all-in-one.yaml
      - name: Upload All-in-One (autogenerated) manifest
        uses: actions/upload-artifact@v5
        with:
          name: all-in-one-autogen-manifest
          path: ./deploy/generated/all-in-one.yaml
          retention-days: 1
