# Triggered by Pull Request or Manually (from GitHub UI) events

name: Publish image to Registry

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-push:
    name: Push to Registry
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v2.3.1

    - name: Prepare tag
      id: prepare
      uses: ./.github/actions/set-tag

    - name: Push Atlas Operator to Registry
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: ${{ secrets.DOCKER_REPO }}
        registry: ${{ secrets.DOCKER_REGISTRY }}
        tags: ${{ steps.prepare.outputs.tag }}

    - name: Deploy Operator to K8s cluster
      uses: ./.github/actions/deploy
      with:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        image: ${{ secrets.DOCKER_REGISTRY }}/${{ secrets.DOCKER_REPO }}:${{ steps.prepare.outputs.tag }}
