name: Check Licenses

on:
  workflow_call:

jobs:
  check-licenses:
    name: Check Licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: 'true'
      - name: Run testing
        run: devbox run -- 'make check-licenses'
