name: Check Manifests

on:
  workflow_call:
    inputs:
      forked:
        type: boolean
        required: false
        default: false

jobs:
  check-manifests:
    name: Check Manifests
    runs-on: ubuntu-latest
    steps:
      - if: ${{ inputs.forked == false }}
        uses: actions/checkout@v4

      - if: ${{ inputs.forked == true }}
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.sha}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "${{ github.workspace }}/go.mod"

      - name: Install dependencies
        run: go install golang.org/x/tools/cmd/goimports@latest

      - name: Run testing
        run: make check-manifests
