name: Clean Atlas organization
# local run sample:
# echo '{"ref":"HEAD/ref/CLOUDP-smth", "ref_type":"branch", "action":"workflow_dispatch", "inputs": {"clean":"true", "timelife": "3"} }' > payload.json | act -j cleanup-all -e payload.json

on:
  workflow_dispatch:
    inputs:
      clean:
        description: "Clean all(true) or old empty projects(false)?"
        default: "false"
        required: true
      timelife:
        description: "Timelife of project in hours"
        default: "3"
        required: true

jobs:
  cleanup-all:
    name: Cleanup atlas empty projects, and terminate cluster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: CleanUp Atlas organization
        uses: ./.github/actions/cleanup
        env:
          MCLI_PUBLIC_API_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
          MCLI_PRIVATE_API_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
          MCLI_ORG_ID: ${{ secrets.ATLAS_ORG_ID}}
          MCLI_OPS_MANAGER_URL: "https://cloud-qa.mongodb.com/"
        with:
          CLEAN_ALL: ${{ github.event.inputs.clean }}
          MAX_PROJECT_LIFETIME: ${{ github.event.inputs.timelife }}
