name: Clean Atlas organization
# local run sample:
# echo '{"ref":"HEAD/ref/CLOUDP-smth", "ref_type":"branch"}' > payload.json | act -j cleanup-all -e payload.json
# ^ command will clean branch organization with name `CLOUDP-smth`
on:
  workflow_dispatch:

jobs:
  cleanup-all:
    name: Cleanup atlas empty projects, and terminate cluster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: CleanUp empty AtlasProjects older than one day
        uses: ./.github/actions/cleanup
        with:
          ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
          ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
          CLEAN_ALL: "true"
