# Use for local deploing. Triggered manually only.
# Used builded Image with tag: branch_name-commit_id

name: Deploy Operator to k8s cluster

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to k8s
    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: mongodb-atlas-kubernetes-operator
    steps:

    - name: Check out code
      uses: actions/checkout@v3.5.3

    - name: Prepare tag
      id: prepare
      uses: ./.github/actions/set-tag

    - name: Login to docker.io
      uses: docker/login-action@v2
      with:
        registry: ${{ env.DOCKER_REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Prepare docker image tag
      id: prepare-docker-image-tag
      run: |
        REPOSITORY=${{ env.DOCKER_REPO }}
        TAG=${{ steps.prepare.outputs.tag }}
        TAGS="${REPOSITORY}:${TAG}"
        echo "tags=$TAGS" >> $GITHUB_OUTPUT
    - name: Push Atlas Operator to Registry
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ steps.prepare-docker-image-tag.outputs.tags }}

    - name: Deploy Operator to K8s cluster
      uses: ./.github/actions/deploy
      with:
        IMAGE_URL: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPO }}:${{ steps.prepare.outputs.tag }}
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        ATLAS_ORG_ID: ${{ secrets.ATLAS_ORG_ID }}
        ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
        ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
