name: Generation CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'tools/scaffolder/**'
      - 'tools/openapi2crd/**'
      - 'config/openapi2crd.yaml'
      - '.github/workflows/gen-ci.yaml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'tools/scaffolder/**'
      - 'tools/openapi2crd/**'
      - 'config/openapi2crd.yaml'
      - '.github/workflows/gen-ci.yaml'

jobs:

  scaffolder:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
         go-version-file: "./tools/scaffolder/go.mod"

    - name: Scaffolder CI checks
      working-directory: ./tools/scaffolder
      run: make ci

  openapi2crd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install devbox
      uses: jetify-com/devbox-install-action@v0.14.0
      with:
        enable-cache: 'true'

    - name: Update Devbox
      working-directory: ./tools/openapi2crd
      run: devbox update

    - name: OpenAPI2CRD CI checks
      working-directory: ./tools/openapi2crd
      run: devbox run -- make ci

  check-gen-all:
    runs-on: ubuntu-latest
    needs:
    - scaffolder
    - openapi2crd
    steps:
    - uses: actions/checkout@v6

    - name: Install devbox
      uses: jetify-com/devbox-install-action@v0.14.0
      with:
        enable-cache: 'true'

    - name: Gen All checks
      run: devbox run -- make clean gen-all fail-on-dirty
