# Check for every push

name: Lint

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.36

          # Optional: working directory, useful for monorepos
          # working-directory:

          args: --timeout 10m
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true


      - name: Run ShellCheck
        uses: bewuethr/shellcheck-action@v2
