name: OpenAPI2CRD tool CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'tools/openapi2crd/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'tools/openapi2crd/**'

jobs:

  openapi2crd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install devbox
      uses: jetify-com/devbox-install-action@v0.14.0
      with:
        enable-cache: 'true'

    - name: Update Devbox
      working-directory: ./tools/openapi2crd
      run: devbox update

    - name: CI checks
      working-directory: ./tools/openapi2crd
      run: devbox run -- make ci
