# Create release branch
# TODO after GitHub add permission for action-bot to commit to the protected branches - please merge release-* workflow into one

name: Create release branch

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version:"
        required: true

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.inputs.version }}
      TAG: v${{ github.event.inputs.version }}
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0 #required for tags

    - name: Create all-in-one installation script
      uses: ./.github/actions/gen-install-scripts
      with:
        IMAGE_URL: ${{ secrets.DOCKER_RELEASE_REPO }}:${{ env.VERSION }}
        ENV: prod
#
#    - name: Create branch and push it
#      run: |
#        git checkout -b "release/${VERSION}"
#        git push origin "release/${VERSION}"
#
#    - name: Commit file and sign it
#      uses: ./.github/actions/push-files
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        FILE_TO_COMMIT: "deploy/all-in-one.yaml"
#        DESTINATION_BRANCH: "release/${{ env.VERSION }}"
#
#    - name: Create PR
#      uses: ./.github/actions/create-pr
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        REVIEWERS: antonlisovenko,vasilevp,leo-ri
