# GitHub workflow for createing release.
# Trigger release branch should be merge into main
# TODO add e2e/smoke test for autogen configuration

name: Create Release

on:
  pull_request:
    types: [ closed ]
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (Be sure `Release-branch` is successful):"
        required: true
      image_repo:
        type: choice
        description: "Target image repository for built images"
        default: mongodb/mongodb-atlas-kubernetes-operator-prerelease
        required: true
        options:
        - mongodb/mongodb-atlas-kubernetes-operator-prerelease
        - mongodb/mongodb-atlas-kubernetes-operator
      release_helm:
        description: "Whether or not to trigger the Helm release as well. Skip by default for tests"
        default: 'false'
        required: true
      certify:
        description: "Whether or not to certify the OpenShift images. Skip by default for tests"
        default: 'false'
        required: true
      release_to_github:
        description: "Whether or not to create the GitHub release. Skip by default for tests"
        default: 'false'
        required: true
jobs:
  create-release:
    environment: release
    name: Create Release
    if: ${{ (github.event.pull_request.merged == true && startsWith(github.head_ref, 'release/')) || github.event.inputs.version != '' }}
    runs-on: ubuntu-latest
    env:
      IMAGE_REPOSITORY: ${{ github.event.inputs.image_repo || 'mongodb/mongodb-atlas-kubernetes-operator' }}
      RELEASE_HELM: ${{ github.event.inputs.release_helm || 'true' }}
      CERTIFY: ${{ github.event.inputs.certify || 'true' }}
      RELEASE_TO_GITHUB: ${{ github.event.inputs.release_to_github || 'true' }}
    steps:
      - name: Free disk space
        run: | 
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          docker rmi $(docker image ls -aq)
          df -h
      - name: Print Env and Get version
        id: tag
        env:
          BRANCH: ${{ github.head_ref }}
          VERSION: ${{ github.event.inputs.version }}
        run: |
          version=$VERSION
          if [[ "$version" == "" ]]; then
            version=$(echo $BRANCH | awk -F '/' '{print $2}')
          fi
          echo "VERSION:$version"
          tag="v${version}"
          certified_version="${version}-certified"
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "tag=$tag" >> $GITHUB_OUTPUT
          echo "certified_version=$certified_version" >> $GITHUB_OUTPUT
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "${{ github.workspace }}/tools/makejwt/go.mod"
          cache: false
      - name: Trigger helm post release workflow
        if: ${{ env.RELEASE_HELM == 'true' }}
        run: |
          make release-helm JWT_RSA_PEM_KEY_BASE64="${{ secrets.AKO_RELEASER_RSA_KEY_BASE64 }}" \
            JWT_APP_ID="${{ secrets.AKO_RELEASER_APP_ID }}" \
            VERSION="${{ steps.tag.outputs.version }}"
      - name: Choose Dockerfile
        id: pick-dockerfile
        run: |
          if test -f "fast.Dockerfile"; then
            echo "dockerfile=fast.Dockerfile" >> $GITHUB_OUTPUT
          else
            echo "dockerfile=Dockerfile" >> $GITHUB_OUTPUT
          fi
      - name: Build all platforms & check version
        if: steps.pick-dockerfile.outputs.dockerfile == 'fast.Dockerfile'
        run: |
          make all-platforms VERSION=${{ github.event.inputs.version }}
          # not all versiions Makefiles support the version check
          if make |grep -q check-version; then
            make check-version VERSION=${{ github.event.inputs.version }}
          fi
      - name: Build and Push image
        uses: ./.github/actions/build-push-image
        with:
          repository: ${{ env.IMAGE_REPOSITORY }}
          file: ${{ steps.pick-dockerfile.outputs.dockerfile }}
          version: ${{ steps.tag.outputs.version }}
          certified_version: ${{ steps.tag.outputs.certified_version }}
          platforms: linux/amd64,linux/arm64
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          push_to_quay: true
          quay_username: mongodb+mongodb_atlas_kubernetes
          quay_password: ${{ secrets.QUAY_PASSWORD }}
          tags: |
            ${{ env.IMAGE_REPOSITORY }}:${{ steps.tag.outputs.version }}
            quay.io/${{ env.IMAGE_REPOSITORY }}:${{ steps.tag.outputs.version }}
            quay.io/${{ env.IMAGE_REPOSITORY }}:${{ steps.tag.outputs.version }}-certified
      - name: Certify Openshift images
        if: ${{ env.CERTIFY == 'true' }}
        uses: ./.github/actions/certify-openshift-images
        with:
          repository: ${{ env.IMAGE_REPOSITORY }}
          version: ${{ steps.tag.outputs.certified_version }}
          quay_password: ${{ secrets.QUAY_PASSWORD }}
          rhcc_token: ${{ secrets.RH_CERTIFICATION_PYXIS_API_TOKEN }}
          rhcc_project: ${{ secrets.RH_CERTIFICATION_OSPID }}
      - name: Create configuration package
        run: |
          set -x
          tar czvf atlas-operator-all-in-one-${{ steps.tag.outputs.version }}.tar.gz -C deploy all-in-one.yaml
      - name: Create Release
        if: ${{ env.RELEASE_TO_GITHUB == 'true' }}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.tag }}
          release_name: ${{ steps.tag.outputs.tag }}
          body_path: docs/release-notes/release-notes.md
          draft: true
          prerelease: false
      - name: Upload Release Asset
        if: ${{ env.RELEASE_TO_GITHUB == 'true' }}
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./atlas-operator-all-in-one-${{ steps.tag.outputs.version }}.tar.gz
          asset_name: atlas-operator-all-in-one-${{ steps.tag.outputs.version }}.tar.gz
          asset_content_type: application/tgz

