name: Release Openshift
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version:"
        required: true
      dryrun:
        description: "Test the workflow by creating a branch in the forks, but do not create the PR"
        default: false
        type: boolean
jobs:
  release-openshift:
    name: "Create Pull request for openshift release"
    environment: openshift-test
    runs-on: ubuntu-latest
    env:
      REPO_PATH: "operators/mongodb-atlas-kubernetes"
    strategy:
      matrix:
        repository: ["mongodb-forks/community-operators", "mongodb-forks/community-operators-prod", "mongodb-forks/certified-operators"]
        include:
          - repository: "mongodb-forks/certified-operators"
            certified: true
    steps:
      - name: Generate GitHub App Token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.AKO_RH_RELEASER_APP_ID }}
          private-key: ${{ secrets.AKO_RH_RELEASER_RSA_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: mongodb-atlas-kubernetes
      - name: Clone/Checkout Atlas Operator
        uses: actions/checkout@v5
        with:
          ref: main
          path: "mongodb-atlas-kubernetes"
          fetch-depth: 0
      - name: Clone/Checkout releases repositories
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.repository }}
          ref: main
          path: ${{ matrix.repository }}
          token: ${{ github.token }}
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
          project-path: "mongodb-atlas-kubernetes"
      - name: Prepare version
        env:
          VERSION: ${{ github.event.inputs.version }}
          REPOSITORY: ${{ matrix.repository }}
        run: |
          alias gh='devbox run -c mongodb-atlas-kubernetes gh'
          cd $REPOSITORY
          
          # Sync fork
          gh auth setup-git
          gh repo set-default $REPOSITORY
          gh repo sync -b main
          
          mkdir -p "${REPO_PATH}/${VERSION}"

          cd ../../mongodb-atlas-kubernetes
          cp -r bundle.Dockerfile bundle/manifests bundle/metadata bundle/tests "../${REPOSITORY}/${REPO_PATH}/${VERSION}"
      - name: Configure non-certified release
        if: ${{ ! matrix.certified }}
        env:
          VERSION: ${{ github.event.inputs.version }}
          REPOSITORY: ${{ matrix.repository }}
        run: |
          echo "Configure non-certified release"
          cd "$REPOSITORY/$REPO_PATH"
          sed -i.bak 's/COPY bundle\/manifests/COPY manifests/' "${VERSION}/bundle.Dockerfile"
          sed -i.bak 's/COPY bundle\/metadata/COPY metadata/' "${VERSION}/bundle.Dockerfile"
          sed -i.bak 's/COPY bundle\/tests\/scorecard/COPY tests\/scorecard/' "${VERSION}/bundle.Dockerfile"
          rm "${VERSION}/bundle.Dockerfile.bak"
      - name: Certify Openshift images
        uses: ./.github/actions/certify-openshift-images
        with:
          registry: quay.io
          registry_password: ${{ secrets.QUAY_PASSWORD }}
          repository: mongodb/mongodb-atlas-kubernetes-operator
          version: ${{ github.event.inputs.version }}
          rhcc_token: ${{ secrets.RH_CERTIFICATION_PYXIS_API_TOKEN }}
          rhcc_project: ${{ secrets.RH_CERTIFICATION_OSPID }}
          submit: true
      - name: Configure certified release
        if: ${{ matrix.certified }}
        env:
          VERSION: ${{ github.event.inputs.version }}
          REPOSITORY: ${{ matrix.repository }}
          IMAGE: quay.io/mongodb/mongodb-atlas-kubernetes-operator
        run: |
          alias yq='devbox run -c mongodb-atlas-kubernetes yq'
          # Reference to image
          docker pull "${IMAGE}":"${VERSION}"
          export REPO_DIGEST=$(docker inspect --format='{{ index .RepoDigests 0}}' "${IMAGE}":"${VERSION}")
          
          cd "$REPOSITORY/$REPO_PATH"
          yq e -i '.metadata.annotations.containerImage = env(REPO_DIGEST)' "${VERSION}"/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
          yq e -i '.spec.install.spec.deployments[0].spec.template.spec.containers[0].image = env(REPO_DIGEST)' "${VERSION}"/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml

          # Add skip range
          value='">=0.8.0"' yq e -i '.spec.skipRange = env(value)' "${VERSION}"/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
      - name: Push Changes & Open PR
        env:
          VERSION: ${{ github.event.inputs.version }}
          REPOSITORY: ${{ matrix.repository }}
          ASSIGNEES: igor-karpukhin,helderjs,josvazg,roothorp
          DRYRUN: ${{ github.event.inputs.dryrun }}
        run: |
          alias gh='devbox run -c mongodb-atlas-kubernetes gh'
          cd "$REPOSITORY/$REPO_PATH"
          
          # configure git user
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          
          # commit, push
          git checkout -b "mongodb-atlas-operator-community-${VERSION}"
          git add "${VERSION}"
          git status
          git commit -m "MongoDB Atlas Operator ${VERSION}" --signoff
          git push origin "mongodb-atlas-operator-community-${VERSION}"
          
          # open PR (when not a dry-run)
          if [ "${DRYRUN}" == "false"]; then
            gh pr create \
                --title "operator mongodb-atlas-kubernetes (${VERSION})" \
                --assignee "${ASSIGNEES}"
          else
            echo "DRYRUN: Skip PR creation (${DRYRUN})"
          fi
