name: Remove Labels

on: [ pull_request, pull_request_target ]

jobs:
  remove-safe-to-test-label:
    runs-on: ubuntu-latest
    name: Remove Label
    steps:
      - name: Remove safe-to-test Label
        uses: buildsville/add-remove-label@v1
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          label: safe-to-test
          type: remove
