name: CI Reports

on:
  schedule:
    - cron: "0 7 * * 1" # At 7:00 on Monday
  workflow_dispatch:

jobs:
  check-licenses:
    name: CI Reports
    runs-on: ubuntu-latest
    environment: release
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
    steps:
      - uses: actions/checkout@v5

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: 'true'

      - name: Send Regressions Report
        run: devbox run -- 'make slack-report REPORT_TYPE=regressions'

      - name: Send Flakiness Report
        run: devbox run -- 'make slack-report REPORT_TYPE=flakiness'
