name: Test

on:
  schedule:
    - cron: '0 0 * * 1-5' # Run a nightly test 
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, converted_to_draft, labeled, unlabeled]
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
  merge_group:
  workflow_dispatch:

concurrency:
  group: test-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    # Contributions do NOT run any testing by default, a label is needed to allow testing
    if: |
      github.event.pull_request.base.repo.full_name == github.event.pull_request.head.repo.full_name ||
      contains(github.event.pull_request.labels.*.name, 'safe-to-test') ||
      contains(github.event.pull_request.labels.*.name, 'cloud-tests') ||
      contains(github.event.pull_request.labels.*.name, 'retest')
    steps:
      - name: allowed message
        run: echo "Allowed to run tests"

  lint:
    needs:
      - run-tests
    uses: ./.github/workflows/lint.yaml

  validate-manifests:
    needs:
      - run-tests
    uses: ./.github/workflows/validate-manifests.yml
  
  unit-tests:
    needs:
      - run-tests
    uses: ./.github/workflows/test-unit.yml
    secrets: inherit

  license-header-check:
    needs:
      - run-tests
    uses: ./.github/workflows/license-header-check.yml

  check-licenses:
    needs:
      - run-tests
    uses: ./.github/workflows/check-licenses.yml
  
  cloud-tests-filter:
    if: github.event.pull_request.head.repo.fork == false
    needs:
      - run-tests
    uses: ./.github/workflows/cloud-tests-filter.yml

  e2e2:
    needs:
      - lint
      - unit-tests
      - validate-manifests
      - check-licenses
      - cloud-tests-filter
    uses: ./.github/workflows/tests-e2e2.yaml
    secrets: inherit

  cloud-tests:
    needs:
      - lint
      - unit-tests
      - validate-manifests
      - check-licenses
      - cloud-tests-filter
    if: |
      github.event_name == 'merge_group' || needs.cloud-tests-filter.outputs.run-cloud-tests == 'true'
    uses: ./.github/workflows/cloud-tests.yml
    secrets: inherit
