name: E2E Gov tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  e2e-gov:
    name: E2E Gov tests
    environment: gov-test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
      - name: Run e2e test
        env:
          MCLI_PUBLIC_API_KEY: ${{ secrets.ATLAS_GOV_PUBLIC_KEY }}
          MCLI_PRIVATE_API_KEY: ${{ secrets.ATLAS_GOV_PRIVATE_KEY }}
          MCLI_ORG_ID: ${{ secrets.ATLAS_GOV_ORG_ID}}
          MCLI_OPS_MANAGER_URL: "https://cloud-qa.mongodbgov.com/"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCOUNT_ARN_LIST: ${{ secrets.AWS_ACCOUNT_ARN_LIST }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          PAGER_DUTY_SERVICE_KEY: ${{ secrets.PAGER_DUTY_SERVICE_KEY }}
          TEST_NAME: "atlas-gov"
          USE_NEXT_VERSION: "true"
        run: devbox run -- make e2e label=${{ env.TEST_NAME}}
      - name: Upload operator logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: logs
          path: output/**
