name: Integration tests.

on:
  workflow_call:
    inputs:
      forked:
        type: boolean
        required: false
        default: false

jobs:
  int-test:
    name: Integration tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: ["AtlasProject", "AtlasDeployment", "AtlasDatabaseUser"]
        path: [ "./test/int" ]
        nodes: [12]
        include:
          - test: "ClusterWide"
            path: "./test/int/clusterwide"
            nodes: 1

    steps:
      - if: ${{ inputs.forked == false }}
        name: Check out code
        uses: actions/checkout@v3.1.0

      - if: ${{ inputs.forked == true }}
        name: Check out code
        uses: actions/checkout@v3.1.0
        with:
          ref: ${{github.event.pull_request.head.sha}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "${{ github.workspace }}/go.mod"
      - name: Run testing
        env:
          ATLAS_ORG_ID: ${{ secrets.ATLAS_ORG_ID }}
          ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
          ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
          TEST_NAME: ${{ matrix.test }}
          PARALLEL_NODES: ${{ matrix.nodes }}
          GO111MODULE: on
          GINKGO_EDITOR_INTEGRATION: "true"
        run: |

          # Download binaries for envtests (api-server, etcd)
          sudo curl -Lo setup-envtest.sh https://raw.githubusercontent.com/kubernetes-sigs/controller-runtime/v0.8.0/hack/setup-envtest.sh && \
          sudo mkdir -p /usr/local/kubebuilder/bin && \
          sudo /bin/bash -c "source setup-envtest.sh && fetch_envtest_tools /usr/local/kubebuilder"
  
          go install github.com/onsi/ginkgo/v2/ginkgo@v2.6.1 && \
          go install github.com/onsi/gomega/...
          
          cd ${{ matrix.path }}
          ginkgo --label-filter="${TEST_NAME}" --timeout 80m --v --nodes="${PARALLEL_NODES}" --cover --coverpkg=github.com/mongodb/mongodb-atlas-kubernetes/pkg/...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          name: ${{ matrix.test }}
          files: ${{ matrix.path }}/coverprofile.out
          verbose: true

