name: Unit Tests

on:
  workflow_call:

jobs:
  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.sha}}
          submodules: 'true'

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: 'true'

      - name: Run testing
        run: devbox run -- 'go test -race -v ./... -coverprofile=coverage.out'

      - name: Test tools
        run: devbox run -- 'make test-tools'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          name: unit-tests
          flags: unit
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          verbose: true
