name: Test

on:
  schedule:
    - cron: '*/15 * * * *'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, converted_to_draft, labeled, unlabeled]
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
  merge_group:
  workflow_dispatch:

concurrency:
  group: test-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    # Contributions do NOT run any testing by default, a label is needed to allow testing
    if: |
      github.event.pull_request.base.repo.full_name == github.event.pull_request.head.repo.full_name ||
      contains(github.event.pull_request.labels.*.name, 'safe-to-test') ||
      contains(github.event.pull_request.labels.*.name, 'cloud-tests') ||
      contains(github.event.pull_request.labels.*.name, 'retest')
    steps:
      - name: allowed message
        run: echo "Allowed to run tests"
  
  cloud-tests-filter:
    if: github.event.pull_request.head.repo.fork == false
    needs:
      - run-tests
    uses: ./.github/workflows/cloud-tests-filter.yml

  cloud-tests:
    needs:
      - cloud-tests-filter
    if: |
      github.event_name == 'merge_group' || needs.cloud-tests-filter.outputs.run-cloud-tests == 'true'
    uses: ./.github/workflows/cloud-tests.yml
    secrets: inherit
