name: Unit Tests.

on:
  workflow_call:
    inputs:
      forked:
        type: boolean
        required: false
        default: false

jobs:
  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - if: ${{ inputs.forked == false }}
        uses: actions/checkout@v3.1.0

      - if: ${{ inputs.forked == true }}
        uses: actions/checkout@v3.1.0
        with:
          ref: ${{github.event.pull_request.head.sha}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "${{ github.workspace }}/go.mod"

      - run: go version

      - name: Run testing
        run: CGO_ENABLED=0 go test -v $(go list ./pkg/...) -coverprofile=coverage.out

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          name: unit-tests
          files: coverage.out
          verbose: true
