name: Integration tests.

on:
  workflow_call:
  workflow_dispatch:

jobs:
  int-test:
    name: Integration tests
    environment: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: ["AtlasProject", "AtlasDeployment", "AtlasDatabaseUser", "AtlasDataFederation", "AtlasFederatedAuth", "AtlasDeploymentSharding", "AtlasStreams"]
        target: [ "test/int" ]
        nodes: [12]
        include:
          - test: "ClusterWide"
            target: "test/int/clusterwide"
            nodes: 1

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
      - name: Run testing
        env:
          ATLAS_ORG_ID: ${{ secrets.ATLAS_ORG_ID }}
          ATLAS_PUBLIC_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
          ATLAS_PRIVATE_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
          GINKGO_FILTER_LABEL: ${{ matrix.test }}
          GINKGO_NODES: ${{ matrix.nodes }}
          GO111MODULE: on
          GINKGO_EDITOR_INTEGRATION: "true"
        run: |
          devbox run -- 'make ${{ matrix.target }}'
