name: Contract Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  contract:
    name: Contract Tests
    environment: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.sha}}

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.12.0
        with:
          version: v0.22.0
          config: test/helper/e2e/config/kind.yaml
          node_image: kindest/node:v1.29.2
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.12.0
        with:
          enable-cache: 'true'
      - name: Run Contract Testing
        env:
          AKO_CONTRACT_TEST: 1
          MCLI_OPS_MANAGER_URL: https://cloud-qa.mongodb.com
          MCLI_ORG_ID: ${{ secrets.ATLAS_ORG_ID }}
          MCLI_PUBLIC_API_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
          MCLI_PRIVATE_API_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets. AZURE_CLIENT_SECRET }}
          GOOGLE_PROJECT_ID: ${{ secrets.GOOGLE_PROJECT_ID }}
          GCP_SA_CRED: ${{ secrets.GCP_SA_CRED}}
          USE_KIND: "false" # Avoid launching a kind cluster yet again
        run: devbox run -- 'make contract-tests'
