name: Unit Tests.

on:
  workflow_call:
    inputs:
      forked:
        type: boolean
        required: false
        default: false

jobs:
  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - if: ${{ inputs.forked == false }}
        uses: actions/checkout@v3.0.0

      - if: ${{ inputs.forked == true }}
        uses: actions/checkout@v3.0.0
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17"

      - run: go version

      - name: Run testing
        run: CGO_ENABLED=0 go test -v $(go list ./pkg/...)
