name: E2E tests

on:
  workflow_call:
  workflow_dispatch:

env:
  MCLI_OPS_MANAGER_URL: "https://cloud-qa.mongodb.com/"
  MCLI_PUBLIC_API_KEY: ${{ secrets.ATLAS_PUBLIC_KEY }}
  MCLI_PRIVATE_API_KEY: ${{ secrets.ATLAS_PRIVATE_KEY }}
  MCLI_ORG_ID: ${{ secrets.ATLAS_ORG_ID }}

jobs:
  prepare-e2e:
    runs-on: ubuntu-latest
    outputs:
      test_matrix: ${{ steps.compute.outputs.matrix }}
      next_version: ${{ steps.read_version.outputs.version }}
    steps:
      - uses: actions/checkout@v5

      - name: Compute K8s matrix/versions for testing
        id: compute
        run: |
          matrix='["v1.32.8-kind"]'
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            matrix='["v1.32.8-kind", "v1.34.0-kind"]'
          fi
          echo "matrix=${matrix}" >> "${GITHUB_OUTPUT}"
      - name: Read the next release version
        id: read_version
        run: |
          VERSION=$(jq -r '.next' version.json)
          echo "version=${VERSION}" >> "${GITHUB_OUTPUT}"
  prepare-e2e-image:
    runs-on: ubuntu-latest
    needs: [prepare-e2e]
    outputs:
      image_url: ${{ steps.set_image_url.outputs.image_url }}
    env:
      REPO: ghcr.io/${{ github.repository_owner }}/mongodb-atlas-kubernetes-operator-prerelease
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      
      - name: Prepare image tag
        id: set_tag
        uses: ./.github/actions/set-tag
      
      - name: Prepare image url for GitHub Container Registry
        id: set_image_url
        run: |
          echo "image_url=${REPO}:${{ steps.set_tag.outputs.tag }}" >> "$GITHUB_OUTPUT"

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push image to GitHub Container Registry
        uses: ./.github/actions/build-push-image
        with:
          file: fast.Dockerfile
          version: ${{ needs.prepare-e2e.outputs.next_version }}
          tags: ${{ steps.set_image_url.outputs.image_url }}
          platforms: linux/amd64,linux/arm64
          push_to_docker: false

  e2e:
    needs: [prepare-e2e]
    runs-on: ubuntu-latest
    environment: test
    env:
      AKO_DEPRECATION_WARNINGS: true
    strategy:
      fail-fast: false
      matrix:
        k8s: ${{ fromJson(needs.prepare-e2e.outputs.test_matrix) }}
        test: 
          [
            "alert-config",
            "auditing",
            "cloud-access-role",
            "deployment-annotations-ns",
            "deployment-ns",
            "users",
            "users-oidc",
            "deployment-wide",
            "encryption-at-rest",
            "free-tier",
            "global-deployment",
            "integration-ns",
            "long-run",
            "multinamespaced",
            "networkpeering",
            "privatelink",
            "private-endpoint",
            "project-settings",
            "x509auth",
            "custom-roles",
            "teams",
            "backup-config",
            "datafederation",
            "atlas-search-nodes",
            "atlas-search-index",
            "cache-watch",
            "reconcile-all",
            "reconcile-one",
            "reconcile-two",
            "backup-compliance",
            "flex",
            "ip-access-list",
            "dry-run",
            "networkcontainer-controller",
            "networkpeering-controller",
            "atlas-org-settings",
          ]
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: '0'
      
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'

      - name: Generate kustomized all-in-one install configs
        run: |
          devbox run -- make bundle

      - name: Extract k8s version/platform
        id: extract
        run: |
          echo "k8s_version=$(echo '${{ matrix.k8s }}' | awk -F '-' '{print $1}')" >> $GITHUB_OUTPUT
          echo "k8s_platform=$(echo '${{ matrix.k8s }}' | awk -F '-' '{print $2}')" >> $GITHUB_OUTPUT

      - name: Run CI E2E tests
        run: devbox run -- make e2e label=${{ env.TEST_NAME}}
        env:
          TEST_NAME: ${{ matrix.test }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_ACCOUNT_ARN_LIST: ${{ secrets.AWS_ACCOUNT_ARN_LIST }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          GCP_SA_CRED: ${{ secrets.GCP_SA_CRED }}
          DATADOG_KEY: ${{ secrets.DATADOG_KEY }}
          PAGER_DUTY_SERVICE_KEY: ${{ secrets.PAGER_DUTY_SERVICE_KEY }}

      - name: Upload logs on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: logs
          path: output/**

  helm-e2e:
    needs: [prepare-e2e, prepare-e2e-image]
    runs-on: ubuntu-latest
    environment: test
    strategy:
      fail-fast: false
      matrix:
        k8s: ${{ fromJson(needs.prepare-e2e.outputs.test_matrix) }}
        test: ["helm-ns", "helm-update", "helm-wide"]
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: '0'
    
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'

      - name: Generate kustomized all-in-one install configs
        env:
          IMAGE_URL: ${{ needs.prepare-e2e-image.outputs.image_url }}
        run: |
          devbox run -- make bundle

      - name: Extract k8s version/platform
        id: extract
        run: |
          echo "k8s_version=$(echo '${{ matrix.k8s }}' | awk -F '-' '{print $1}')" >> $GITHUB_OUTPUT
          echo "k8s_platform=$(echo '${{ matrix.k8s }}' | awk -F '-' '{print $2}')" >> $GITHUB_OUTPUT

      - name: Run CI helm-E2E test with prepared image
        run: devbox run -- make e2e label=${{ env.TEST_NAME }}
        env:
          TEST_NAME: ${{ matrix.test }}
          IMAGE_PULL_SECRET_REGISTRY: ghcr.io
          IMAGE_URL: ${{ needs.prepare-e2e-image.outputs.image_url }}
          IMAGE_PULL_SECRET_USERNAME: ${{ github.actor }}
          IMAGE_PULL_SECRET_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

      - name: Upload logs on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: logs
          path: output/**
