name: Helm update

on:
  workflow_call:
  workflow_dispatch:

jobs:
  verify-helm-changes:
    if: github.event.pull_request.merged == true && !startsWith(github.event.pull_request.title, 'dependabot')
    name: Verify if AKO helm charts needs updates
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout AKO repo
        uses: actions/checkout@v6

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"

      - name: Generate GitHub App Token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.AKO_RELEASER_APP_ID }}
          private-key: ${{ secrets.AKO_RELEASER_RSA_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            mongodb-atlas-kubernetes
            helm-charts

      - name: Checkout Helm charts repo
        uses: actions/checkout@v6
        with:
          repository: mongodb/helm-charts
          token: ${{ steps.generate_token.outputs.token }}
          path: helm-charts-cloned
          persist-credentials: true

      - name: Generate AKO bundle
        env:
          VERSION: "1.0.0"
        run: |
          devbox run -- "make generate bundle"

      - name: Verify if CRDs were changed
        id: crd-check
        env:
          HELM_CRDS_PATH: "./helm-charts-cloned/charts/atlas-operator-crds/templates"
        run: |
          devbox run -- "make helm-upd-crds"

      - name: Verify if RBAC were changed
        id: rbac-check
        env:
          HELM_RBAC_FILE: "./helm-charts-cloned/charts/atlas-operator/rbac.yaml"
        run: |
          devbox run -- "make helm-upd-rbac"

      - name: Create PR for helm-charts repo
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          cd ./helm-charts-cloned

          if [[ -n $(git status --porcelain) ]]; then
            jobname=${{ github.run_id }}
            if [[ -n "${{ github.event.pull_request.title }}" ]]; then
              jobname=$(echo "${{ github.event.pull_request.title }}" | tr -cd '[:alnum:]-_')
            fi

            export BRANCH=CRD-RBAC-changes-"${jobname}"
            export COMMIT_MESSAGE="[autogenerated] update CRDs and RBAC ${jobname}"
            export REPO_NAME=helm-charts
            echo "Changes detected. Creating PR"

            export GITHUB_TOKEN="${GH_TOKEN}"
            git checkout -b "${BRANCH}"
            git add .
            ../scripts/create-signed-commit.sh

            gh pr create --base main --head "${BRANCH}" --title "${COMMIT_MESSAGE}" --body "${COMMIT_MESSAGE}"
          fi
          echo "Nothing to commit"
